/* App.css */

/* Styles for the container */
.horizontal-scroll-container {
  width: 100vw;
  overflow: hidden; /* Hide the vertical overflow */
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

/* Styles for the content inside the container */
.horizontal-scroll-content {
  display: inline-block;
}

/* Styles for each section */
.section {
  width: 100vw;
  height: 100vh;
  display: inline-block;
  font-size: 2em;
  background-color: #ccc;
}
